@using EPiServer.Framework.Web.Resources
@using EPiServer.Shell.Navigation


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CodeArt Command Console</title>
    <link rel="shortcut icon" href="../../util/images/favicon.ico" type="image/x-icon" />
    @Html.Raw(ClientResources.RenderResources("ShellCore"))
    @Html.Raw(ClientResources.RenderResources("ShellWidgets"))
    @Html.Raw(ClientResources.RenderResources("ShellCoreLightTheme"))
    @Html.Raw(ClientResources.RenderResources("ShellWidgetsLightTheme"))
    @Html.Raw(ClientResources.RenderResources("Navigation"))

    @Html.Raw(ClientResources.RenderResources("DojoDashboardCompatibility", new[] { ClientResourceType.Style }))

    <style>

        input[type="text"] {
            min-width: 100em;
            border: none;
            font-family: inherit;
            background-color: #fbfbfb;
            padding: 0 .5em;
        }

            input[type="text"]:focus {
                background: #fbfbfb;
                color: #000;
                outline: none;
            }

        .mainConsole {
            right: 20px;
            left: 20px;
            overflow-y: auto;
            padding-top: 20px;
            padding-left: 20px;
            font-size: 14px;
            font-family: 'Lucida Console', Arial;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body class="Sleek">
    @Html.Raw(Html.ShellInitializationScript())
    @Html.Raw(Html.CreatePlatformNavigationMenu())
    <div id="epi-application" @Html.Raw(Html.ApplyPlatformNavigation())>
        <div class="mainConsole">
            <div id="log">

            </div>


            <div style="width:80%; display:table">
                <label for="command" style="display:table-cell; width:1px">command&gt;</label>
                <input type="text" id="command" style="display:table-cell; width:100%" />
            </div>
        </div>

    </div>
    <script>
       var cmdhistory = [];
       $("#command").on('keyup', function (e) {
           if (e.keyCode == 13) {

               var cmd = $('#command').val();
               cmdhistory.push(cmd);
               $('#log').append('command&gt;'+cmd + '<br/>');
               $('#command').val('');
               $.post('@EPiServer.Shell.Paths.ToResource("CodeArt.Episerver.DevConsole","Console/RunCommand/")', { command: cmd });
           } else if (e.keyCode == 38) {
               //Arrow up - if val is empty fill in last typed command. Otherwise it may be navigating in autocomplete?
               $('#command').val(cmdhistory[cmdhistory.length]);
           }
       });
       $(function () {
           $('#command').focus();
       });
       var last = 0;
       function RefreshLog() {
           $.getJSON('@EPiServer.Shell.Paths.ToResource("CodeArt.Episerver.DevConsole","Console/FetchLog/")', { LastLogNo: last }, function (data) {
               last = data.LastNo;
               $.each(data.LogItems, function (idx, val) {
                   $('#log').append(val + '<br/>');
               })
               //LogItems[Time,Sender,Text]

               window.setTimeout(RefreshLog, 1000);
           });
       }
       RefreshLog();
    </script>
</body>
</html>
